In [4]:
import pandas as pd
import numpy as np

In [11]:
date_index = pd.date_range('2014-05-01', '2014-05-31', freq='30min')
units = np.random.randint(0, 20, len(date_index))

df = pd.DataFrame(index=date_index)
df['units'] = units
df.head()

                     units
2014-05-01 00:00:00     19
2014-05-01 00:30:00     11
2014-05-01 01:00:00     12
2014-05-01 01:30:00      4
2014-05-01 02:00:00     10

In [29]:
df.resample('W').mean() #resampled every week

                units
2014-05-04  10.083333
2014-05-11   9.645833
2014-05-18   9.482143
2014-05-25   9.544643
2014-06-01   9.825726

In [31]:
df.resample('H').mean().max() #hourly maximum can be found by meathod chaining

units    19.0
dtype: float64