In [4]:
import pandas as pd
import numpy as np

In [11]:
date_index = pd.date_range('2014-05-01', '2014-05-31', freq='30min')
units = np.random.randint(0, 20, len(date_index))

df = pd.DataFrame(index=date_index)
df['units'] = units
df.head()

                     units
2014-05-01 00:00:00     19
2014-05-01 00:30:00     11
2014-05-01 01:00:00     12
2014-05-01 01:30:00      4
2014-05-01 02:00:00     10

# Downsampling

In [32]:
df.resample('2W').mean() #resampled every two weeks

                units
2014-05-04  10.083333
2014-05-18   9.563988
2014-06-01   9.662045

# Upsampling

In [38]:
df.resample('10T').interpolate('quadratic').head()

                         units
2014-05-01 00:00:00  19.000000
2014-05-01 00:10:00  14.904594
2014-05-01 00:20:00  12.237927
2014-05-01 00:30:00  11.000000
2014-05-01 00:40:00  11.190812