In [1]:
import pandas as pd

In [81]:
data = {'date': ['2014-05-01', '2014-05-02', '2014-05-05', '2014-05-07'], 
        'battle_deaths': [34, 25, 26, 15]}

df = pd.DataFrame(data, columns = ['date', 'battle_deaths'])
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)
df['May 2014']

            battle_deaths
date
2014-05-01             34
2014-05-02             25
2014-05-05             26
2014-05-07             15

In [90]:
time_range = pd.date_range('2014-05-01', '2014-05-07') #will return datetime series object
df_reindexed = df.reindex(time_range, method='ffill') #ffill is forward fill
df_reindexed

            battle_deaths
2014-05-01             34
2014-05-02             25
2014-05-03             25
2014-05-04             25
2014-05-05             26
2014-05-06             26
2014-05-07             15